



/*-- scss:defaults --*/

/*-- scss:rules --*/


.reveal h1, h2, h3, h4, h5, h6 {
  letter-spacing: 3px;
  font-weight: 200;

}

h1 {

    text-align: center;
    font-size-adjust: 0.3;
    line-height: 60px !important;
}

.references p {
  padding-left: 2em;
  text-indent: -2em;
  margin-bottom: 0.6em;
}
